//
   Created by Michael on 30-10-2014.

extends layout
block content
    h2 Category Detail
    ol
        div.container
            div.col-md-12
                table.table.table-striped.table-hover.table-bordered
                    thead
                        
                            tr
                                th ID
                                th Name
                                th CategoryId
                                th QuantityPerUnit
                                th Units Price
                                th UnitsInStock
                                th UnitsOnOrder
                                th ReorderLevel
                                th Discontinued

                        each s in categorydetail
                            tr
                                td= s.id
                                td= s.name
                                td= s.categoryId
                                td= s.quantityPerUnit
                                td= s.unitPrice
                                td= s.unitsInStock
                                td= s.unitsOnOrder
                                td= s.reorderLevel
                                td= s.discontinued
                
            a.btn.btn-large.btn-success(href="/../", role="button", data-toggle="modal") Go to Frontpage