extends layout
block content
    h2 All Products
    ol
        div.container
            div.col-md-12
                table.table.table-striped.table-hover.table-bordered
                    thead
                            tr
                                th ID
                                th Name
                                th CategoryID
                                th QuantityByUnit
                                th Unitprice
                        each s in products
                            tr
                                td= s._id
                                td= s.name
                                td
                                    a(href='./partials/categorydetail/' + s.categoryId) #{s.categoryId}
                                td= s.quantityPerUnit
                                td= s.unitPrice
